@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  color: #fff;
  height: 108px;
  background: #2c3861;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #1d2540;
  display: -webkit-box !important;
  display: flex !important;
  overflow: hidden;
}

.logo {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 160px;
  border-right: 1px solid #2e3b67;
  height: 100%;
  background-image: url("../../imgs/dots.png");
  border-bottom: 1px solid #3a4a78;
  border-top: 1px solid #334477;
}

.cloud {
  position: absolute;
  top: 16px;
  right: 11px;
  font-size: 9px;
  background: url("../../imgs/cloud.png") no-repeat;
  width: 30px;
  height: 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 5px;
  color: #2c3861;
}

.memes {
  background: #2c3861;
  border-bottom: 1px solid #1d2540;
  border-left: 1px solid #28345b;
  border-right: 1px solid #1c2540;
  width: calc(100% - 160px);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.memes .lastMemes {
  margin-left: 72px;
  margin-right: 65px;
}

.memes .pics {
  display: -webkit-box;
  display: flex;
}

.memes .pics figure {
  width: 85px;
  height: 85px;
  overflow: hidden;
  margin-right: 22px;
  margin-left: 0;
  opacity: 0.2;
  transition: all .2s;
  cursor: pointer;
}

.memes .pics figure img {
  width: 100%;
  height: 100%;
}

.pic1 {
  background: url("../../imgs/memes/meme1.jpg") center no-repeat;
}

.pic2 {
  background: url("../../imgs/memes/meme2.jpg") center no-repeat;
}

.pic3 {
  background: url("../../imgs/memes/meme3.jpg") center no-repeat;
}

.pic4 {
  background: url("../../imgs/memes/meme4.jpg") center no-repeat;
}

.pic5 {
  background: url("../../imgs/memes/meme5.jpg") center no-repeat;
}

.pic6 {
  background: url("../../imgs/memes/meme6.jpg") center no-repeat;
}

.pic7 {
  background: url("../../imgs/memes/meme7.jpg") center no-repeat;
}

.mainNav {
  background-color: #2c3861;
  position: absolute;
  top: 108px;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  min-width: 160px;
}

.mainNav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
}

.mainNav ul li {
  border-top: 1px solid #253053;
  border-bottom: 1px solid #3a4a78;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid #2e3b67;
}

.mainNav ul li a {
  color: #72a1d8;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border-left: 3px solid #2c3861;
  width: 100%;
  transition: all .2s;
}

.mainNav ul li a:hover {
  color: #d053c2;
  border-left: 3px solid #d053c2;
}

.mainNav ul li a:hover svg {
  fill: #d053c2;
}

.mainNav .caption {
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
}

.mainNav svg {
  fill: #72a1d8;
}

.user {
  min-height: 240px;
  display: block;
  text-align: center;
}

.user .icon {
  display: block;
  margin: 24px 0 8px;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 10px;
  border: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  border-radius: 7px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.btn img {
  margin-right: 10px;
}

.addFunds {
  background: #e757cf;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: -1px 1px 5px 3px rgba(231, 87, 207, 0.65);
}

.logout {
  background: #50679e;
}

.price {
  color: #5cc7f7;
  font-size: 18px;
}

main {
  background: url("../../imgs/mainBg.jpg");
  width: calc(100% - 160px);
  height: calc(100vh - 108px);
  margin-left: 160px;
  overflow: hidden;
  border-left: 1px solid #27345a;
}

button.addFunds img {
  width: 20px;
  height: 17px;
}

button.logout img {
  width: 14px;
  height: 14px;
}

footer {
  background-color: #2c3861;
  position: absolute;
  bottom: 0;
  width: calc(100% - 160px);
  left: 160px;
  right: 0;
  height: 56px;
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

footer .partners {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 22px;
}

footer .footerNav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 20px;
  color: #50679e;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

footer .footerNav ul {
  display: -webkit-box;
  display: flex;
  padding-left: 0;
}

footer .footerNav ul li {
  margin-left: 25px;
}

footer .footerNav ul li a {
  text-decoration: none;
  color: #50679e;
}

footer .footerNav .unfold {
  fill: #50679e;
}

/*# sourceMappingURL=style.css.map */
