@import url('https://fonts.googleapis.com/css?family=Ubuntu:700')
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

$primary: #2c3861
$accent: #72a1d8

*
    box-sizing: border-box

html, body
    font-family: 'Ubuntu', sans-serif

header
    color: #fff
    height: 108px
    background: $primary
    position: relative
    z-index: 100
    border-bottom: 1px solid #1d2540
    display: flex!important
    overflow: hidden

.logo
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 160px
    border-right: 1px solid #2e3b67
    height: 100%
    background-image: url('../../imgs/dots.png')
    border-bottom: 1px solid #3a4a78
    border-top: 1px solid #334477

.cloud
    position: absolute
    top: 16px
    right: 11px
    font-size: 9px
    background: url('../../imgs/cloud.png') no-repeat
    width: 30px
    height: 22px
    display: flex
    justify-content: center
    padding-top: 5px
    color: #2c3861

.memes
    background: $primary
    border-bottom: 1px solid #1d2540
    border-left: 1px solid #28345b
    border-right: 1px solid #1c2540
    width: calc(100% - 160px)
    display: flex
    align-items: center
    .lastMemes
        margin-left: 72px
        margin-right: 65px
    .pics
        display: flex
        figure
            width: 85px
            height: 85px
            overflow: hidden
            margin-right: 22px
            margin-left: 0
            opacity: 0.2
            transition: all .2s
            cursor: pointer
            img
                width: 100%
                height: 100%

// memes thumbnails
.pic1
    background: url('../../imgs/memes/meme1.jpg') center no-repeat
.pic2
    background: url('../../imgs/memes/meme2.jpg') center no-repeat
.pic3
    background: url('../../imgs/memes/meme3.jpg') center no-repeat
.pic4
    background: url('../../imgs/memes/meme4.jpg') center no-repeat
.pic5
    background: url('../../imgs/memes/meme5.jpg') center no-repeat
.pic6
    background: url('../../imgs/memes/meme6.jpg') center no-repeat
.pic7
    background: url('../../imgs/memes/meme7.jpg') center no-repeat


.mainNav
    background-color: $primary
    position: absolute
    top: 108px
    bottom: 0
    max-height: 100%
    max-width: 100%
    min-width: 160px
    ul
        list-style: none
        margin: 0
        padding-left: 0
        display: flex
        flex-direction: column
        height: 100%
        li
            border-top: 1px solid #253053
            border-bottom: 1px solid #3a4a78
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            height: 100%
            border-right: 1px solid #2e3b67
            a
                color: $accent
                text-decoration: none
                text-align: center
                display: flex
                flex-direction: column
                align-items: center
                height: 100%
                justify-content: center
                font-size: 12px
                font-weight: bold
                border-left: 3px solid $primary
                width: 100%
                transition: all .2s
                &:hover
                    color: #d053c2
                    border-left: 3px solid #d053c2
                    svg
                        fill: #d053c2
    .caption
        text-align: center
        text-transform: uppercase
        display: block
        margin-top: 15px

    svg
        fill: $accent

.user
    min-height: 240px
    display: block
    text-align: center
    & .icon
        display: block
        margin: 24px 0 8px

.btn
    width: 130px
    height: 35px
    font-size: 10px
    border: none
    display: flex
    align-items: center
    justify-content: center
    font-family: 'Ubuntu', sans-serif
    color: #fff
    border-radius: 7px
    text-transform: uppercase
    margin: 0 auto
    cursor: pointer

.btn img
    margin-right: 10px

.addFunds
    background: #e757cf
    margin-bottom: 10px
    margin-top: 20px
    box-shadow: -1px 1px 5px 3px rgba(#e757cf, 0.65)

.logout
    background: #50679e

.price
    color: #5cc7f7
    font-size: 18px

main
    background: url('../../imgs/mainBg.jpg')
    width: calc(100% - 160px)
    height: calc(100vh - 108px)
    margin-left: 160px
    overflow: hidden
    border-left: 1px solid #27345a

button.addFunds img
    width: 20px
    height: 17px

button.logout img
    width: 14px
    height: 14px

footer
    background-color: $primary
    position: absolute
    bottom: 0
    width: calc(100% - 160px)
    left: 160px
    right: 0
    height: 56px
    display: flex!important
    align-items: center
    justify-content: space-between
    .partners
        display: flex
        align-items: center
        margin-left: 22px
    .footerNav
        display: flex
        align-items: center
        margin-right: 20px
        color: #50679e
        font-size: 12px
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        ul
            display: flex
            padding-left: 0
            li
                margin-left: 25px
                a
                    text-decoration: none
                    color: #50679e
        .unfold
            fill: #50679e
